.container-p{
    background: rgba(9,9,121,1);
    color: aliceblue;

    h2{
        text-align: center;
        padding: 15px;
    }

    ul{
        font-size: 20px;
    }

    .encabezado{
        text-decoration: underline;
        font-weight: 400;
    }

    .puntos{
        font-style: italic;
    }
}